.container {
    margin-top: 100px;
}

.myPhoto {
    width: 64px;
    height: 64px;
}

.stack {
    display: flex;
    flex-wrap: wrap;
}

.stacks img {
    width: 24px;
    height: 24px;
}

.mailMeBtn, .portfolioBtn {
    display: flex;
    width: 150px;
    color: black;
    text-decoration: none;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    border-radius: 2px;
    padding: 5px;
}

.mailMeBtn:hover, .portfolioBtn:hover {
    outline: 1px solid black;
}

.downloadCVBtn {
    border: 1px solid darkgray;
    margin-right: 5px;
    background-color: whitesmoke;
}