.container {
    margin-top: 100px;
}

.myPhoto {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.stacks {
    display: flex;
    flex-wrap: wrap;
}

.stacks img {
    width: 24px;
    height: 24px;
}

.links {
    transition: 0.2s;
    display: flex;
    width: fit-content;
    color: black;
    text-decoration: none;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 5px;
}

.links:hover {
    transition: 0.2s;
    background-color: darkgray;
}

#card {
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.card-header svg {
    margin: 2px;
}

.card-header {
    background-color: #333;
    outline: 1px solid #333;
}