.container {
    margin-top: 100px;
}

.myPhoto {
    width: 64px;
    height: 64px;
}

.stack {
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: center !important;
    margin-right: 5px;
    margin-bottom: 20px;
    padding: 5px;
}